/*
*
*
*	site-specific layout statements
*
*/


/*	Structure
-------------------------------------------------------------- 	*/

body,html{
	margin:0px 10px 10px 10px;
	padding:0px 10px 10px 10px;
}
#TopSocialMedia {height:30px; padding:2px;top:20px;width:600px;display:block;position:absolute;right:0;}
.social{}
.teaser-content .teaser-text .field-items .field-item img{
width:70px ! important; 
height:70px ! important; 
margin:4px ! important;
float:left ! important;

}
#totalContainer{
	margin-top:0px;
	margin-bottom:10px;

}

.width_1#totalContainer{
	width:1038px;
}

.width_2#totalContainer{
	width:978px;
}

#topBar{
	margin:0px;
	padding:0px;
	float:left;
	width:966px;
}

#topBarContainer{
	margin:15px auto 15px auto;
}
	
.width_1#topBarContainer{
	width:1038px;
}
	
.width_2#topBarContainer{
	width:978px;
}

#topBarLink{ /* top toggle bar */
	text-align:center;
	margin:0px;
	padding:0px;
	height:10px;
	width:100%;
}

#topBarLink a{ /* top toggle bar */
	float:left;
	margin-left:48.5%; /* make it block level and try to center it without javascript..*/
	padding:15px 10px 5px 10px;
}

#topBarLink.withoutTopRegion a{ /* makes space in case we don't have any element in the top Region */
	margin-bottom:50px;
}

#top{ /* upper part of the template 	border-top:4px solid #1158a6;
	border-left:4px solid #1158a6;
	border-right:4px solid #1158a6; */
	width:966px;
	height: 92px;
	position:relative;
	margin-bottom:0px;
	background:url(../img/hrcsl-head.jpg) #93a619 repeat-x;
	vertical-align:baseline;
	text-align:left;
	outline-color:invert;
	outline-style:none;
	line-height:1;
	color:black;
	border-left:4px #1158a6  solid;
	border-right:4px #1158a6  solid;
}

#topUtility{
	position:absolute;
	top:20px;
	right:0px;
}

#logo-container{ /* image logo container */
	float:left;
	height:90px;
	margin-right:10px;
	margin-top: 0px;
}
#logo{
width:89px;
height:90px;
}
#title-slogan{ /* site title and slogan container */
	float:left;
	margin-top:70px;
}
hi#site-title{
padding-top:40px;
}
#site-title a{
color:#66241f;
background:none;
}
#site-title,
#site-slogan{ 
	margin:0px;
	padding:0px;
}

#search{ /* theme search box */
	position: absolute;
	right:10px;
	top: 45px;
	padding:0 10px 10px 0px;
}

#search div{ /* search button inline */
	display: inline;
}

#pageBorder{ /* makes the border */
	float: left;
	background:#fbf8f3;
	width:966px;
}

.ie7 #pageBorder{ /* for IE7 */
  float: none;
  overflow: hidden;
}

#contentWrapper{ /* wraps content */
	float: left;
	padding:15px 5px 15px 5px;
	position: relative;
	background:#fefefe;
	z-index: 1;	/* follows the z-index order of primary menu and advertise (to solve ie7 z-index BUG )*/
}

.breadcrumb{ /* breadcrumb */
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
	margin:0px 10px 15px 10px;
}

#footer{ /* site footer*/
	margin-top: 0px;
	padding-bottom:0px;
	float: left;
	width:966px;
	position:relative;
	background:#123459;
	border-left:4px #1158a6  solid;
	border-right:4px #1158a6  solid;
	border-bottom:4px #1158a6  solid;
}

#navigation-footer{ /* site footer*/
	position:absolute;
	right:0px;
	top:0px;
	
}

#bottomUtility{
	position:absolute;
	top:0px;
	right:0px;
}

/* utility menu */

.utility ul.menu{
	margin:0px;
	padding:0px;
	list-style:none;
}

.utility ul.menu li{
	display:inline;
	margin:0px 0px 0px 4px;
	padding:0px;
}

.utility ul.menu li a{
	padding-right:8px;
}

.utility ul.menu li:after{
	content:"|";
}


/*	Look & Feel
-------------------------------------------------------------- */

body.lamtechrepublic{
	background: #123459;
}
	
#topBar,#topBarLink,#topBarLink a{ /* top toggle bar */
	background:#054b81;
}

#topBarLink a{
	font-size: 1.1em;
}

.outsidecontent{
	color:white;
}

#site-title,
#site-slogan{
	font-weight: bold;		
}

#site-title{
	font-size: 2em;
	line-height:0.8em;
}

#site-slogan {
	font-size: 1em;
	text-indent: 0.5em;
}

#pageBorder{ /* border of the whole site */ 
	border:4px solid #1158a6;
}
	
#pageBorder.noborder{ /* when we don't have the advertise region */ 
	border-top:0px;
}

#contentWrapper{
	background: #fefefe;
}

.breadcrumb { /* breadcrumb */
	font-weight: bold;
}

.utility{ /* utility menu */
	font-size:0.9em;
	text-transform:uppercase;
}