/*
*
*
*	links
*
*
*/

.content .node .node-container .nodecontent .field-items .field-item li a {
list-style-type:url(../img/typo/approved-icon.png);
}

#TopSocialMedia .region-social-media #block-block-3 .content ul {list-style-type:none ! important;text-align:right;}
#TopSocialMedia .region-social-media #block-block-3 .content li {vertical-align: top;list-style-type:none ! important;*display:inline;display: -moz-inline-stack;display: inline-block;_height:22px; min-height:22px;}
#TopSocialMedia .region-social-media #block-block-3 .content li a {vertical-align: top;list-style-type:none ! important;*display:inline;width:32px;padding-left:10px;display: -moz-inline-stack;display: inline-block;zoom: 1;_height:22px; min-height:22px;}
#TopSocialMedia .region-social-media #block-block-3 .content li.title {width:150px;color:#66241f;font-style:italics;font-family:Georgia, serif;vertical-align:bottom;}

a,
a:visited,
li a.active{
	color: #66241f;
	}

a:hover {color:#787878;text-decoration: none;}
a:active {color:#787878;} 
a:focus{outline: none;}
a img{border: none;}

#site-title a:hover,
#site-slogan a:hover,
.block h2.title a{
	text-decoration:none;
	color:#66241f;
}
.block h2.title {
	text-decoration:none;
	color:#333;
	font-family:Georgia, serif;
}
.outsidecontent a,
.outsidecontent li a.active,
#header-images a,
#navigation-secondary a{
	color:#93a619;
	text-decoration:none;
}

.outsidecontent#topBar a{
	color:#93a619;
}


