/* 
*	
* Secondary Links
*
*/

/*	Structure
-------------------------------------------------------------- */

#navigation-secondary{
	float: left;
	width: 100%;
	height:40px;
	line-height:40px;
}
	
#navigation-secondary ul{
	margin:0px 0px 0px 5px;
	padding:0px;
	list-style:none;
}
	
#navigation-secondary li{
	float:left;
	margin-left: 5px;
	padding:0px;
}

#navigation-secondary li:after{
	content:"|";
}
	
#navigation-secondary a{ /* make it block-level to fill the entire space */
	padding-right:5px;
}
	
#navigation-secondary span{
	padding:5px;
}
	
/*	Look & Feel
-------------------------------------------------------------- */

#navigation-secondary{
	font-size: 1em;
	background:#7c8c0e ;
	color:#333;
	border-bottom:#1158a6
}
	
#navigation-secondary a{
	color: #333;
}

#navigation-secondary li a:hover{
	text-decoration: none;
	color: 66241f;
}
	
#navigation-secondary li a.active{
	font-weight: bold;
}

#navigation-secondary li a.active:before{
	content:"↓";
}
	 