/*
*
*
*	advertise image
*
*/

/*	Structure
-------------------------------------------------------------- */

#header-images{
	display: block;
	float: left;
	position: relative;
	z-index: 2; /* under primary menu but over content wrapper (z-index=1) */
	width: 966px;
	height: 320px; /* image image height */
	color:#333;
	-moz-box-shadow: 0 2px 8px 	rgba (0, 0, 0, .5);
	-webkit-box-shadow: 0 2px 8px 	rgba (0, 0, 0, .5);
	background: url(../img/slide-show-main-bg.jpg) repeat-x 0px -5px; 
	overflow:hidden;
}
	
#header-images.unlimited{
	height: auto; /* advertise region with sull height*/
}

img.slide{
	width:530px;
	height:300px; /* image image height */
	left:430px ! important;
	margin-top:10px;
}

#header-image-text{ /* 	bottom: 10px;
image text container 	 	margin-right:10px
*/
	position: absolute;
	z-index: 9;
	width: 400px;
	top:10px;
	left:10px;
	background:url(../img/slide-show-text-bg.jpg) no-repeat;
	border:#d8362a 1px solid;
	float:left;
	color:#333;
	height:300px;
	
}

#header-image-text-data{ /* 	image text data */
	 /* margin-right: 70px;stay away form navigation */
	text-align:center;
	padding: 15px 20px 15px 20px;
}

#header-image-navigation{ /* image navigation */
	position: absolute;
	z-index: 110;
	bottom: 40px;
	right: 750px;
	width: 60px;
}

#header-image-title{ /*margin-top: 0px;
	margin-bottom: 10px; image title */
	
	margin:35px 0 10px -15px;
}

#header-image-description{ /* image description */
	margin-bottom: 0px;
	margin-top: 0px;
}

#header-image-navigation a{ /*image navigation links */
	float: left;
	width: 1em;
	height: 1em;
	line-height: 0.85em;
	margin-right: 3px;
	margin-left: 3px;
}

#header-image-navigation a#header-image-prev,
#header-image-navigation a#header-image-next{ /*image navigation links */
	text-indent: 0.35em;
}

/*	Look & Feel
-------------------------------------------------------------- */

#header-images{ /* color: white;
	background:#054b81;advertise image */
}

#header-image-text{
	 /* background: black;for older browsers */
}

#header-image-title{ /* image title font style */
	font-size: 2.5em;
	font-family:Georgia, serif;
	font-style:italic;
	color:#ae0606;

}

#header-image-description{ /* image description */
	font-size: 1em;
	font-style: italic;
	color:#93a619;
	text-align:center;
}

#header-image-title,
#header-image-title a{ /* image title link color */
	color:#fff;
}

#header-image-description a{ /* image description link color */
	color:#898989;
}

#header-image-title a:hover,
#header-image-description a:hover{
	text-decoration: none;
}

#header-image-description a:hover{
	color:#898989;
}

a#header-image-prev,
a#header-image-next{
	font-family:arial;
	font-weight: lighter;
	font-size: 1.8em;
	color:#fff;
	background: #444444;
}
	
a#header-image-prev:hover,
a#header-image-next:hover{
	background: #f97e05;
	text-decoration: none;
}
