/*
*
*
* lamtechrepublic Css3 graphics
* 
*
*/


/*	Layout
-------------------------------------------------------------- */

.cssgradients #contentWrapper{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eee),color-stop(0.05, #fff));
	background: -moz-linear-gradient(top center,#eee,#fff 5%);
}

.boxshadow #site-title,
.boxshadow #site-slogan{
	text-shadow: rgba(10, 10, 10, 0.4) 2px 3px 3px;
}

.boxshadow #pageBorder{
	box-shadow:5px 5px 20px #051b32;
	-webkit-box-shadow:5px 5px 20px #051b32;
	-moz-box-shadow: -5px 5px 30px #062544;
}

/*	Primary Links
-------------------------------------------------------------- */

.boxshadow #navigation-primary > ul > li > h2 > a,
.boxshadow #navigation-primary > ul > li > a{
	text-shadow: rgba(10, 10, 10, 0.4) 2px 3px 3px;
}

.cssgradients #navigation-primary h2 > a,
.cssgradients #navigation-primary > ul > li > a{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #7ab0d4),color-stop(0.4, #156aa3));
	background: -moz-linear-gradient(top center,#7ab0d4,#156aa3 40%);
}

.cssgradients #navigation-primary > ul > li > a.active,
.cssgradients #navigation-primary > ul > li > h2 > a.active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #5f9ac7),color-stop(0.4, #054b81));
	background: -moz-linear-gradient(top center,#5f9ac7,#054b81 40%);
}

.cssgradients #navigation-primary > ul > li > a:hover,
.cssgradients #navigation-primary > ul > li > h2 > a:hover,	
.cssgradients #navigation-primary > ul > li:hover > a,
.cssgradients #navigation-primary > ul > li:hover > h2 > a{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f4d7ba),color-stop(0.4, #f97e05));
	background: -moz-linear-gradient(top center,#f4d7ba,#f97e05 40%);
}

.cssgradients div.mega{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #eee),color-stop(0.3, #fff));
	background: -moz-linear-gradient(bottom center,#eee,#fff 30%);
}

/*	Nodes
-------------------------------------------------------------- */

.cssgradients .teaser-created-day{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #eee),color-stop(0.3, #fff));
	background: -moz-linear-gradient(bottom center,#eee,#fff 30%);
}

/*	blocks
-------------------------------------------------------------- */

.cssgradients #block-user-login .block-title{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #5f9ac7),color-stop(0.4, #054b81));
	background: -moz-linear-gradient(top center,#5f9ac7,#054b81 40%);
}

/*	Advertise
-------------------------------------------------------------- */
	
.rgba #header-image-text{
	background: rgba(0, 0, 0, 0.8);
}

.boxshadow #header-image-title{
	text-shadow: rgba(10, 10, 10, 0.8) 2px 3px 3px;
}


/*	Typography and other drupal items
-------------------------------------------------------------- */

.cssgradients ul.primary li a{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #d7d7d7),color-stop(0.5, #eee));
	background: -moz-linear-gradient(top center,#d7d7d7,#eee 50%);
}

.cssgradients ul.primary li a:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f4d7ba),color-stop(0.4, #f97e05));
	background: -moz-linear-gradient(top center,#f4d7ba,#f97e05 40%);
}

.cssgradients ul.primary li.active a:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eee),color-stop(0.4, #fff));
	background: -moz-linear-gradient(top center,#eee,#fff 40%);
}

.cssgradients .form-submit{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #f2f2f2),color-stop(0.6, #e6e6e6));
	background: -moz-linear-gradient(bottom center,#f2f2f2,#e6e6e6 60%);
}

.cssgradients #block-user-login .form-submit{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #5f9ac7),color-stop(0.4, #054b81));
	background: -moz-linear-gradient(top center,#5f9ac7,#054b81 40%);
}

.cssgradients .form-submit:focus,
.cssgradients #block-user-login .form-submit:focus{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f4d7ba),color-stop(0.4, #f97e05));
	background: -moz-linear-gradient(top center,#f4d7ba,#f97e05 40%);
}

.cssgradients .taxonomy-term-description{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eee),color-stop(0.8, #fff));
	background: -moz-linear-gradient(top center,#eee,#fff 80%);
}

.cssgradients #content .item-list ul.pager li.pager-current,
.cssgradients #content .item-list ul.pager li.pager-item a:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #7ab0d4),color-stop(0.4, #156aa3));
	background: -moz-linear-gradient(top center,#7ab0d4,#156aa3 40%);
}